<progressbar class="progress-striped active" value="100" type="info"
  ng-show="isSearching">
  Searching
</progressbar>
<div class="ng-hide alert alert-warning alert-dismissable"
    ng-bind="'No results found.'" ng-show="noResults"></div>
<h2 class="ng-hide" ng-show="searchResults.length != 0" ng-bind="'Search Results'"></h2>
<div class="row ng-hide" ng-show="searchResults.length != 0">
  <hero class="col-xs-3 hero" ng-repeat="hero in searchResults"></hero>
</div>
<h2 ng-bind="'Favorites'"></h2>
<div class="row">
  <hero class="col-xs-3 hero" ng-repeat="hero in heroes"></hero>
  <div class="col-xs-12" ng-if="heroes.length == 0">
    <div class="alert alert-warning alert-dismissable">
      You have no favorite Marvel Super Heroes.
      To favor Heroes, search for them and click "Add to favorites"
    </div>
  </div>
</div>
