<div class="jumbotron">
  <h1>Home</h1>

</div>

<div class="heroes-container row" ng-controller="HeroesCtrl">
  <fieldset>
    <legend>Search Results</legend>
    <div class="hero col-md-4" ng-repeat="hero in heroSearchResults | orderBy:'modified':reverse">
      <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" style="width: 100%;" class="img-thumbnail"/>
      <p class="hero-lead col-xs-12">
        <span>{{hero.name}}</span>
      </p>
    </div>
  </fieldset>
  <fieldset>
    <legend>Suggested Heroes</legend>
    <div class="hero col-md-4" ng-repeat="hero in heroes | orderBy:'name'">
      <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" style="width: 100%;" class="img-thumbnail"/>
      <p class="hero-lead col-xs-12">
        <span>{{hero.name}}</span>
      </p>
    </div>
  </fieldset>
</div>